html{padding-top: 10px;background-image: url(images/DD2.jpg);}
body {background-color: lightsteelblue;}
p {color:#000080;font-size:1.2em}
.AAA
{background-color:gray;

margin: 70px 400px 70px 400px;

padding-top: 30px;
   padding-right: 90px;
   padding-bottom: 50px;
   padding-left: 90px;
   text-align: center;
  border: 2px solid grey;
  border-radius: 10px;}
.BBB
{
  background-color:orange;

  margin: 70px 400px 70px 400px;

  padding-top: 30px;
     padding-right: 90px;
     padding-bottom: 50px;
     padding-left: 90px;
     text-align: center;
    border: 2px solid grey;
    border-radius: 10px;
}
.BBB p{color:green;}
